{{ define "content" }}
    {{ $user := .User }}
    {{ if $user }}<h1>Edit^ user</h1>{{else}}<h1>New user</h1>{{end}}
    
    <form method="POST">

        <fieldset class="fieldset">
            <legend class="fieldset-legend">E-Mail:</legend>
            <input class="input" type="email" name="email" {{ if $user.Email }}value="{{ $user.Email }}"{{ end }}>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Password:</legend>
            <input class="input" type="password" name="password">
        </fieldset>

        <fieldset class="fieldset">
        <legend class="fieldset-legend">Role:</legend>
        <select class="select" name="role">
            {{ range .Roles }}
                <option value="{{ . }}" {{ if eq . $user.Role }}selected{{ end }}>{{ . }}</option>
            {{ end }}
        </select>
        </fieldset>

        <button class="btn my-4" type="submit">{{ if $user }}Update{{ else }}Create{{ end }}</button>
    </form>

    {{ if $user }}
        <form method="POST" action="/user/delete/{{ $user.ID }}" onsubmit="return confirm('Confirm deletion?');">
            <button class="btn" type="submit">Delete</button>
        </form>
    {{ end }}

{{ end }}
