{{ define "content" }}
    {{ $webhook := .Webhook }}
    {{ $eventTypeValues := .EventTypeValues }}
    <h1>{{ if $webhook }}Edit webhook{{ else }}New webhook{{ end }}</h1>

    <form method="POST">
        <label>Name:</label><br>
        <input type="name" name="name" {{ if $webhook }}value="{{ $webhook.Name }}"{{ end }}><br><br>

        <label>URL:</label><br>
        <input type="url" name="url" {{ if $webhook }}value="{{ $webhook.Url }}"{{ end }}><br><br>

        <label>Request Type:</label><br>
        <select name="request_type">
            {{ range .RequestTypes }}
                <option value="{{ . }}" {{ if eq . $webhook.RequestType }}selected{{ end }}>{{ . }}</option>
            {{ end }}
        </select><br><br>

        <h2>Event Types</h2>
        {{ range .EventTypes }}
            <label>{{ . }}</label>
            <input class="checkbox" type="checkbox" name="{{ . }}" {{ if in (printf "%v" .) $eventTypeValues }}checked{{end}}><br><br>
        {{ end }}


        <button class="btn" type="submit">{{ if $webhook }}Update{{ else }}Create{{ end }}</button>
    </form>

    {{ if $webhook }}
        <form method="POST" action="/webhooks/delete/{{ $webhook.ID }}" onsubmit="return confirm('Confirm deletion?');">
            <button class="btn" type="submit">Delete</button>
        </form>
    {{ end }}

{{ end }}
