{{ define "content" }}

    <h1>Webhook list</h1>
    <a href="/webhooks/create">Create new webhook</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Webhooks }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Name }}</td>
                <td>{{ .Active }}</td>
                <td><a href="/webhooks/edit/{{ .ID }}">Edit</a></td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <div>
		{{if gt .CurrentPage 1}}
			<a href="?page={{sub .CurrentPage 1}}&pageSize={{.PageSize}}">Previous</a>
		{{end}}
		<span>Page {{.CurrentPage}} of {{.TotalPages}}</span>
		{{if lt .CurrentPage .TotalPages}}
			<a href="?page={{add .CurrentPage 1}}&pageSize={{.PageSize}}">Next page</a>
		{{end}}
	</div>

{{end}}