{{ define "content" }}

    {{ if not .Apikey }}
    <h1>Create apikey</h1>

    <form method="POST">
        
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Name of the key:</legend>
            <input class="input" type="text" id="name" name="name" required>
        </fieldset>

        <button class="btn my-4" type="submit">Submit</button>
    </form>
    {{ end }}

    {{ if .Apikey }}
        <h1>{{ .Apikey.Name }}</h1>
        <form method="POST" action="/apikeys/delete/{{ .Apikey.ID }}" onsubmit="return confirm('Confirm deletion?');">
            <button class="btn" type="submit">Delete</button>
        </form>
    {{ end }}

{{ end }}