{{ define "content" }}

    <h1>API keys</h1>
    <a href="/apikeys/create">Create new apikey</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Key</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range .Apikeys }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Name }}</td>
                <td>{{ .Token }}</td>
                <td>
                    <a href="/apikeys/edit/{{ .ID }}">Edit</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <div>
		{{if gt .CurrentPage 1}}
			<a href="?page={{sub .CurrentPage 1}}&pageSize={{.PageSize}}">Previous</a>
		{{end}}
		<span>Page {{.CurrentPage}} of {{.TotalPages}}</span>
		{{if lt .CurrentPage .TotalPages}}
			<a href="?page={{add .CurrentPage 1}}&pageSize={{.PageSize}}">Next page</a>
		{{end}}
	</div>

{{end}}