{{ define "content" }}
    <h1 class="mb-4 text-4xl font-extrabold">Login</h1>
    <form method="POST">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">E-Mail:</legend>
            <input class="input" type="text" name="email" >
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Password:</legend>
            <input class="input" type="password" name="password">
        </fieldset>

        <button class="btn my-4" type="submit">Login</button>
    </form>
{{ end }}
