{{ define "content" }}
    <h1>New collection</h1>
    <form method="POST" action="{{ if .Item }}/collections/edit/{{ .Item.ID }}{{ else }}/collections/create{{ end }}">

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Name:</legend>
            <input class="input" type="text" name="name" {{ if .Item.Name }}value="{{ .Item.Name }}"{{ end }}>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Alias:</legend>
            <input class="input" type="text" name="alias" {{ if .Item.Alias }}value="{{ .Item.Alias }}"{{ end }}>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Description:</legend>
            <textarea class="textarea" name="description">{{ if .Item.Description }}{{ .Item.Description }}{{ end }}</textarea>
        </fieldset>

        <button class="btn my-4" type="submit">{{ if .Item }}Update{{ else }}Create{{ end }}</button>
    </form>

    {{ if .Item }}
        <form method="POST" action="/collections/delete/{{ .Item.ID }}" onsubmit="return confirm('Confirm deletion?');">
            <button class="btn" type="submit">Delete</button>
        </form>
    {{ end }}

{{ end }}
