{{ define "content" }}

    <h1>Field list</h1>
    <a href="/fields/create">Create new field</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .collections }}
            <tr>
                <td>{{ .Name }}</td>
                <td><a href="/content/collections/create/{{ .ID }}">Create content</a></td>
            </tr>
            {{ end }}
        </tbody>
    </table>

{{end}}