{{ define "content" }}

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

    <h1>Content: {{ .Collection.Name }}</h1>

    <form method="POST">
        {{ range .FieldsHtml}}
            {{ . }}
        {{ end }}

        <button type="submit">Submit</button>
    </form>

    <form method="POST" action="/content/collections/{{ .Collection.ID }}/delete/{{ .Content.ID }}" onsubmit="return confirm('Confirm deletion?');">
        <button type="submit">Delete</button>
    </form>

    <script>

        function findFieldRoot(element) {
            if (element.hasAttribute('data-field-item')) {
                return element
            }

            return findFieldRoot(element.parentElement);
        }

        function initQuill(element) {
            const richText = element.querySelector('[data-richtext]');

            if (!richText) {
                return
            }

            const inputHidden = element.querySelector('[data-field]');

            const quill = new Quill(richText, {
                theme: 'snow'
            });

            inputHidden.value = quill.getText().trim() !== "" ? quill.getSemanticHTML() : ''

            quill.on('text-change', () => {
                inputHidden.value = quill.getText().trim() !== "" ? quill.getSemanticHTML() : ''
            });
        }        

        function initField(element) {
            const fieldContainer = element.parentElement;
            const addButton = element.querySelector('[data-action-add]');
            const deleteButton = element.querySelector('[data-action-remove]');
            
            const newField = element.cloneNode(true);

            initQuill(element)
            
            if (addButton) {
                addButton.addEventListener('click', () => {
                    newField.querySelector('[data-field]').value = '';
                    fieldContainer.appendChild(newField);
    
                    initField(newField);
                });
            };

            if (deleteButton) {
                const field = findFieldRoot(deleteButton);

                if (!field.previousElementSibling) {
                    return;
                }

                deleteButton.addEventListener('click', () => {
                    field.parentElement.removeChild(field);
                });
            }
        }

        function init() {
            const fields = document.querySelectorAll('[data-field-item]');
            fields.forEach(field => { initField(field); });
        }        

        document.addEventListener('DOMContentLoaded', init);

    </script>

{{ end }}