{{ define "content" }}

    <h1>Content: {{ .Collection.Name }}</h1>

    <form method="POST">
        {{ range .FieldsHtml}}
            {{ . }}
        {{ end }}

        <button type="submit">Submit</button>
    </form>

    <form method="POST" action="/content/collections/{{ .Collection.ID }}/delete/{{ .Content.ID }}" onsubmit="return confirm('Confirm deletion?');">
        <button type="submit">Delete</button>
    </form>

    <script>

        function initField(element) {
            const fieldContainer = element.parentElement;
            const addButton = element.querySelector('[data-action-add]');

            if (!addButton) {
                return
            };

            addButton.addEventListener('click', () => {
                const newField = element.cloneNode(true);
                newField.querySelector('input').value = '';
                fieldContainer.appendChild(newField);

                initField(newField);

            });
        }

        function init() {
            const fields = document.querySelectorAll('[data-field-item]');
            
            fields.forEach(field => { initField(field); });

        }        

        document.addEventListener('DOMContentLoaded', init);

    </script>

{{ end }}