{{ define "content" }}
    <h1>New field</h1>
    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" {{ if .Field.Name }}value="{{ .Field.Name }}"{{ end }} ><br><br>

        <label>Alias:</label><br>
        <input type="text" name="alias" {{ if .Field.Alias }}value="{{ .Field.Alias }}"{{ end }}><br><br>

        <label>Type:</label><br>
        <select name="field_type">
            {{ range .types }}
                <option value="{{ . }}" {{ if eq . $.Field.FieldType }}selected{{ end }}>{{ . }} </option>
            {{ end }}
            
        </select><br><br>

        <label>Collection:</label><br>
        <select name="collection_id">
            {{ range .collections }}
                <option value="{{ .ID }}" {{ if eq .ID $.Field.CollectionID }}selected{{ end }}>{{ .Name }}</option>
            {{ end }}
        </select><br><br>

        <label>Required:</label><br>
        <input class="checkbox" type="checkbox" name="is_required" {{ if .Field.IsRequired }}checked{{ end }}><br><br>

        <label>Is list:</label><br>
        <input class="checkbox" type="checkbox" name="is_list" {{ if .Field.IsList }}checked{{ end }}><br><br>

        <label>Display field:</label><br>
        <input class="checkbox" type="checkbox" name="display_field" {{ if .Field.DisplayField }}checked{{ end }}><br><br>

        <button class="btn" type="submit">{{ if .Field }}Update{{ else }}Create{{ end }}</button>
    </form>

    {{ if .Field }}
        <form method="POST" action="/fields/delete/{{ .Field.ID }}" onsubmit="return confirm('Confirm deletion?');">
            <button class="btn" type="submit">Delete</button>
        </form>
    {{ end }}

{{ end }}
