{{ define "content" }}

    <h1>Field list</h1>
    <a href="/fields/create">Create new field</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Collection</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Fields }}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .Alias }}</td>
                <td>{{ .Collection.Name }}</td>
                <td><a href="/fields/edit/{{ .ID }}">Edit</a></td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <div>
		{{if gt .CurrentPage 1}}
			<a href="?page={{sub .CurrentPage 1}}&pageSize={{.PageSize}}">Previous</a>
		{{end}}
		<span>Page {{.CurrentPage}} of {{.TotalPages}}</span>
		{{if lt .CurrentPage .TotalPages}}
			<a href="?page={{add .CurrentPage 1}}&pageSize={{.PageSize}}">Next page</a>
		{{end}}
	</div>

{{end}}