{{ define "content" }}

    <h1>Create asset</h1>

    <form method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Name of the asset: </label><br>
            <input type="text" id="name" name="name" required {{ if .Asset }}value="{{.Asset.Name}}"{{ end }}>
        </div>
        <div>
            <label for="file">Pick file</label><br>
            <input type="file" id="file" name="file" {{ if not .Asset }}required{{ end }}>
        </div>

        <button type="submit">Submit</button>
    </form>

    {{ if .Asset }}
        <form method="POST" action="/assets/delete/{{ .Asset.ID }}" onsubmit="return confirm('Confirm deletion?');">
            <button type="submit">Delete</button>
        </form>
    {{ end }}

{{ end }}