{{ define "content" }}

    {{ if .Field }}<h1>Edit field</h1>{{ else }}<h1>New field</h1>{{ end }}
    
    <form method="POST">

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Name:</legend>
            <input class="input" type="text" name="name" {{ if .Field.Name }}value="{{ .Field.Name }}"{{ end }}>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Alias:</legend>
            <input class="input" type="text" name="alias" {{ if .Field.Alias }}value="{{ .Field.Alias }}"{{ end }}>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Type:</legend>
            <select class="select" name="field_type">
                {{ range .Types }}
                    <option value="{{ . }}" {{ if eq . $.Field.FieldType }}selected{{ end }}>{{ . }} </option>
                {{ end }}
                
            </select>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Collection:</legend>
            <select class="select" name="collection_id">
                {{ range .Collections }}
                    <option value="{{ .ID }}" {{ if eq .ID $.Field.CollectionID }}selected{{ end }}>{{ .Name }}</option>
                {{ end }}
            </select>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Required:</legend>
            <input class="checkbox" type="checkbox" name="is_required" {{ if .Field.IsRequired }}checked{{ end }}>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Is list:</legend>
            <input class="checkbox" type="checkbox" name="is_list" {{ if .Field.IsList }}checked{{ end }}>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Display field:</legend>
            <input class="checkbox" type="checkbox" name="display_field" {{ if .Field.DisplayField }}checked{{ end }}>
        </fieldset>

        <button class="btn my-4" type="submit">{{ if .Field }}Update{{ else }}Create{{ end }}</button>
    </form>

    {{ if .Field }}
        <form method="POST" action="/fields/delete/{{ .Field.ID }}" onsubmit="return confirm('Confirm deletion?');">
            <button class="btn" type="submit">Delete</button>
        </form>
    {{ end }}

{{ end }}
