{{ define "layout.tmpl" }}
<!DOCTYPE html>
<html data-theme="coffee"></html>
<head>
    <title>{{ block "title" . }}nuricms{{ end }}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>
<body class="h-screen">

    <header>
        <div class="container mx-auto flex items-center justify-between py-4">
        <a href="/">nuricms</a>
        {{ if .IsLoggedIn }}
            <nav>
                <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
                    <li><a href="/collections">Collections</a></li>
                    <li><a href="/fields">Fields</a></li>
                    <li><a href="/content/collections">Content</a></li>
                    <li><a href="/assets">Assets</a></li>
                    <li><a href="/user">User</a></li>
                    <li><a href="/apikeys">API Keys</a></li>
                    <li><a href="/webhooks">Webhooks</a></li>
                </ul>
            </nav>
        {{ end }}
        </div>
    </header>
    
    <main class="container mx-auto">
        {{ block "content" . }}{{ end }}
    </main>
</body>
</html>
{{ end }}
