{{ define "content" }}

    <h1>Collection list</h1>
    <a href="/collections/create">Create new collection</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .collections }}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .Alias }}</td>
                <td>{{ .Description }}</td>
                <td><a href="/collections/edit/{{ .ID }}">Edit</a></td>
            </tr>
            {{ end }}
        </tbody>
    </table>

{{end}}