{{ define "content" }}

    {{ if .Asset }}<h1>Edit asset</h1>{{ else }}<h1>Create asset</h1>{{ end }}

    <form method="POST" enctype="multipart/form-data">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Name</legend>
            <input class="input" type="text" id="name" name="name" required {{ if .Asset.Name }}value="{{.Asset.Name}}"{{ end }}>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">File</legend>
            <input class="file-input" type="file" id="file" name="file" {{ if not .Asset }}required{{ end }}>
        </fieldset>

        <button class="btn my-4" type="submit">Submit</button>
    </form>

    {{ if .Asset }}
        <form method="POST" action="/assets/delete/{{ .Asset.ID }}" onsubmit="return confirm('Confirm deletion?');">
            <button class="btn" type="submit">Delete</button>
        </form>
    {{ end }}

{{ end }}