<div>

    {{ $field := .Field }}

    <label>{{ $field.Name }}</label>

    <div>
        {{ if .Values }}
        
            {{range .Values}}
        
                <div data-field-item>
                    <input type="text" name="{{ $field.Alias }}" {{ if $field.IsRequired }}required{{ end }} value="{{ .Value }}" />
                    
                    {{ if $field.IsList }}
                        <button type="button" data-action-add>Add</button>
                    {{ end }}
                </div>
            {{ end }}

        {{ else }}
            <div data-field-item>
                <input type="text" name="{{ $field.Alias }}" {{ if $field.IsRequired }}required{{ end }}/>
                
                {{ if $field.IsList }}
                    <button type="button" data-action-add>Add</button>
                {{ end }}
            </div>
        {{ end }}
    </div>

</div>