{{ define "content" }}

    {{ $root := . }}
    <h1 class="mb-4 text-4xl font-extrabold">Field options</h1>
    <table class="table mb-4">
        <thead>
            <tr>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          
            
            {{ range $index, $value := $root.Types }}
                <tr>
                    <th>{{ $value }}</th>
                    <td><a href="/field-options/{{$value}}">Show</a></td>
                </tr>
            {{end}}

        </tbody>
    </table>

{{end}}