{{ define "content" }}

    <h1 class="mb-4 text-4xl font-extrabold">Content list</h1>

    <table class="table mb-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Collections }}
            <tr>
                <td>{{ .Name }}</td>
                <td>
                    <a href="/content/collections/{{ .ID }}/create">Create content</a>
                    <a href="/content/collections/{{ .ID }}/show">Show content</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <div>
		{{if gt .CurrentPage 1}}
			<a href="?page={{sub .CurrentPage 1}}&pageSize={{.PageSize}}">Previous</a>
		{{end}}
		<span>Page {{.CurrentPage}} of {{.TotalPages}}</span>
		{{if lt .CurrentPage .TotalPages}}
			<a href="?page={{add .CurrentPage 1}}&pageSize={{.PageSize}}">Next page</a>
		{{end}}
	</div>

{{end}}