{{ define "content" }}

    {{ $root := . }}
    <h1>Content list</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                {{ range .Fields }}
                    <th>{{ .Name }}</th>
                {{ end }}

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ $groups := .Groups }}
            {{ range $_, $group := $groups }}

            <tr>
                <td>{{ .Content.ID }}</td>
                
                {{ range $_, $field := $root.Fields }}
                    {{ $values := index $group.ValuesByField $field.Alias }}

                    <td>
                        {{ range $index, $value := $values }}
                            {{ $value.Value }} 
                            {{ if lt (add $index 1) (len $values) }}
                                |
                            {{ end }}
                        {{ end }}
                    </td>
                {{ end }}

                <td><a href="/content/collections/{{ $root.CollectionID }}/edit/{{.Content.ID}}">Edit</a></td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <div>
		{{if gt .CurrentPage 1}}
			<a href="?page={{sub .CurrentPage 1}}&pageSize={{.PageSize}}">Previous</a>
		{{end}}
		<span>Page {{.CurrentPage}} of {{.TotalPages}}</span>
		{{if lt .CurrentPage .TotalPages}}
			<a href="?page={{add .CurrentPage 1}}&pageSize={{.PageSize}}">Next page</a>
		{{end}}
	</div>

{{end}}